/* globals */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web:wght@400;700&display=swap");
@import url(https://fonts.googleapis.com/css?family=Raleway);
* {
  font-family: "Raleway";
  box-sizing: border-box;
}

:root {
  --topbar: #00BFFF;
  --logobg: #04047c;
}
html, body {
  margin: 0;
  height: 100%;
  /*background: url(./img/Me2WeLogoBig.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

h2 {
  vertical-align: center;
  text-align: center;
  position: relative;
  top: 28px;
  margin-bottom: 46px;  
}

img {
  max-width: 100%;
}

#Me2WeLogoBig{
  float: left;
  max-width: 370px;
  margin: 0px 19px 19px 19px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
button{
  padding: 1rem 2rem;
   margin: 4px 2px;
  font-weight: 300;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: var(--logobg);  
  border: none; 
  color: white; 
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition-duration: 1.0s;
}
/*button a{
  text-decoration: none;
  color: white;
}*/
button:hover{
  background: white;  
  border: 1px solid var(--logobg); 
  color: var(--logobg);
  font-weight: 900;
  /*border-width: 4px;*/
  font-size: 0.9rem;
}

/* header, nav */

.top-nav {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*background-color: #00BAF0;*/
  /*background: linear-gradient(to left, #f46b45, #eea849);*/
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 55px;
  /*padding: 1em;*/
  background: var(--logobg);;
  position: relative;
  max-width: 100vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0 ;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu > li a{
  text-decoration: none;
  color: #ffffff;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;

}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}




/* section about */

.about {
  background: white;
  padding: 4vw;
  padding-top: 0px;
  
}

.about-details {
  color: rgba(0, 0, 0, .7);
  line-height: 3rem;
  display: grid;
  grid-template-columns: auto ;
  align-items: center;
  grid-gap: 10px;

}

.moto {
  /*padding: 55px;
  margin: 55px;*/
}

.smartBuyButton{
display: flex;
flex-direction: row-reverse;
}
.tagline{
  font-family: roboto;
  font-size: 2.5rem;
  font-weight: 100;

}

.bold{
  font-weight: 400;
}

.about-details p{
  line-height: 1.54em;
}

@media (max-width: 700px){
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    visibility: hidden;
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    visibility: visible;
  }
  .menu > li {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background: #00BFFF;    
  }
  /*.moto{
  display: flex;
  grid-template-columns: 1fr; 
  }*/
 
}
